/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  background: #020617;
  font-family: "Inter", sans-serif;
  color: #d7d7d7;
  
}

/* MAIN LAYOUT */
.admin-container {
  display: flex;
  height: 100vh;
}

/* CONTENT AREA */
.admin-content {
  margin-left: 180px;
  width: 100%;
  padding: 30px;
  overflow-y: auto;
}

/* SCROLLBAR */
.admin-content::-webkit-scrollbar {
  width: 6px;
}

.admin-content::-webkit-scrollbar-thumb {
  background: #2563eb;
  border-radius: 10px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .admin-content {
    margin-left: 0;
    padding: 15px;
  }
}